[submodule "plugins/hapi-errors"]
	path = plugins/hapi-errors
	url = https://github.com/puzzledge-amaurybrisou/hapi-errors.git
[submodule "plugins/blog.puzzledge"]
	path = plugins/blog.puzzledge
	url = https://github.com/puzzledge-amaurybrisou/blog.puzzledge.git
[submodule "plugins/trip.puzzledge"]
	path = plugins/trip.puzzledge
	url = https://github.com/puzzledge-amaurybrisou/trip.puzzledge.git
[submodule "plugins/hapi-comments"]
	path = plugins/hapi-comments
	url = https://github.com/puzzledge-amaurybrisou/hapi-comments.git
[submodule "plugins/WebRTC"]
	path = plugins/WebRTC
	url = https://github.com/puzzledge-amaurybrisou/WebRTC.git
[submodule "plugins/hapi-webrtc"]
	path = plugins/hapi-webrtc
	url = https://github.com/nodejs-js-amaurybrisou/hapi-webrtc.git
