[submodule "plugins/hapi-errors"]
	path = plugins/hapi-errors
	url = https://github.com/nodejs-js-amaurybrisou/hapi-errors
[submodule "plugins/blog.puzzledge"]
	path = plugins/blog.puzzledge
	url = https://github.com/puzzledge-amaurybrisou/blog.puzzledge.git
[submodule "plugins/trip.puzzledge"]
	path = plugins/trip.puzzledge
	url = https://github.com/puzzledge-amaurybrisou/trip.puzzledge.git
[submodule "plugins/hapi-comments"]
	path = plugins/hapi-comments
	url = git@github.com:nodejs-js-amaurybrisou/hapi-comments.git
